<% content_for :title, "#{@resource.name.titleize} service < #{@resource.version.name} < REST API" -%>

<div class="row">
    <div class="col-md-2 subnav">
        <ul class="nav nav-stacked affix" style="width: 170px">
            <% @resource.services.order("position ASC").each do |s| %>
            <li>
                <a href="#<%= "#{s.http_method.upcase}_#{s.summary.downcase.strip.gsub('/ ', '_').gsub(/[^\w-]/, '')}" %>" title="<%= s.summary %>">
                    <span class="label label-<%= http_method_color(s.http_method) %>">&nbsp;</span>
                    <%= s.name %>
                </a>
            </li>
            <% end %>
        </ul>
    </div> <!-- /.col-md-2 -->

    <div class="col-md-10">
        <div id="sections">
            <% @resource.services.order("position ASC").each do |s| %>
                <%= render :partial => "services/show", :locals => { :service => s } %>
            <% end %>
        </div> <!-- /#sections -->
    </div> <!-- /.col-md-10 -->
</div>


<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            function refresh_scrollspy() {
                setTimeout(function() {
                    $('[data-spy="scroll"]').each(function () {
                        $(this).scrollspy('refresh');
                    });
                }, 10);
            }

            $('#sections').on('hidden', function () {
                refresh_scrollspy();
            }).on('shown', function() {
                refresh_scrollspy();
            });
        })
    </script>
<% end %>